.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 60px !important;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: auto;
}
.swiper .swiper-slide figure {
  width: 400px;
  height: auto;
}
@media all and (max-width: 700px) {
  .swiper .swiper-slide figure {
    width: 200px;
  }
}
.swiper .swiper-slide figure img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
}
.swiper .swiper-slide figcaption {
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .swiper .swiper-slide figcaption {
    font-size: 16px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes videoSlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes logoMoveUp {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-45%);
  }
}
@keyframes linksMoveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body.menu-open {
  overflow: hidden;
}

ul.menu.nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  display: none;
  background-color: #FFF5E9;
}
ul.menu.nav-menu li {
  font-family: "Roboto Mono", monospace;
  font-size: 64px;
  color: black;
  max-width: max-content;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
}
ul.menu.nav-menu li .logo {
  width: 154px;
}
ul.menu.nav-menu li.studio {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 5em;
  margin-bottom: 0;
}
ul.menu.nav-menu li a {
  cursor: pointer;
  transition: all 0.3s ease;
}
ul.menu.nav-menu li a:hover {
  text-shadow: 0 0 14px #FF5C00;
  color: black;
}
ul.menu.nav-menu li:nth-child(1) {
  animation: linksMoveUp 3s ease-out forwards;
  animation-delay: 0s;
}
ul.menu.nav-menu li:nth-child(2) {
  animation: linksMoveUp 3s ease-out forwards;
  animation-delay: 0.5s;
}
ul.menu.nav-menu li:nth-child(3) {
  animation: linksMoveUp 3s ease-out forwards;
  animation-delay: 1s;
}
ul.menu.nav-menu li:nth-child(4) {
  animation: linksMoveUp 3s ease-out forwards;
  animation-delay: 1.5s;
}
ul.menu.nav-menu li:nth-child(5) {
  animation: linksMoveUp 3s ease-out forwards;
  animation-delay: 2s;
}
ul.menu.nav-menu li:nth-child(6) {
  animation: linksMoveUp 3s ease-out forwards;
  animation-delay: 2.5s;
}
@media all and (max-width: 700px) {
  ul.menu.nav-menu li {
    font-size: 50px;
  }
}
@media (max-width: 365px) {
  ul.menu.nav-menu li {
    font-size: 40px;
  }
}

.main-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .main-navigation {
    flex-direction: column;
    padding: 1rem 0 1rem 0;
  }
}
.main-navigation .site-title {
  text-align: center;
}
@media (max-width: 700px) {
  .main-navigation .site-title {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 365px) {
  .main-navigation .site-title {
    font-size: 18px;
  }
}
.main-navigation .menu-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}
@media (max-width: 700px) {
  .main-navigation .menu-toggle {
    position: initial;
    display: block;
    transform: translate(-50%, -50%);
  }
}
.main-navigation .menu-toggle .line {
  width: 40px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.main-navigation .menu-toggle .line:nth-of-type(2) {
  top: calc(50% - 9px);
}
.main-navigation .menu-toggle .line:nth-of-type(3) {
  top: calc(50% + 9px);
}
.main-navigation .menu-toggle.active .line:nth-of-type(1) {
  transform: translateY(0px) rotate(45deg);
}
.main-navigation .menu-toggle.active .line:nth-of-type(2) {
  opacity: 0;
}
.main-navigation .menu-toggle.active .line:nth-of-type(3) {
  transform: translateY(-10px) rotate(-45deg);
}

ul.menu {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul.menu li:first-child {
  position: relative;
}
ul.menu li:first-child::before {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/orchid.png");
  position: absolute;
  left: -48vw;
  top: 2vw;
  width: 173px;
  height: 169px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 5s linear infinite;
}
@media all and (max-width: 365px) {
  ul.menu li:first-child::before {
    left: -40vw;
    width: 100px;
    height: 100px;
  }
}
ul.menu li:first-child::after {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/Sunflower.png");
  position: absolute;
  right: -30vw;
  top: 3vw;
  width: 216px;
  height: 216px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 5s linear infinite;
}
@media all and (max-width: 365px) {
  ul.menu li:first-child::after {
    right: -45vw;
    top: 20vw;
    width: 150px;
    height: 150px;
  }
}
ul.menu li:nth-child(2) {
  position: relative;
}
ul.menu li:nth-child(2)::before {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/blue-cat.png");
  position: absolute;
  left: -20vw;
  top: -4vw;
  width: 109px;
  height: 98px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 2s ease-in-out infinite;
}
@media all and (max-width: 700px) {
  ul.menu li:nth-child(2)::before {
    width: 80px;
    top: 15vw;
  }
}
ul.menu li:nth-child(3) {
  position: relative;
}
ul.menu li:nth-child(3)::after {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/random_flower.png");
  position: absolute;
  right: -37vw;
  top: 1vw;
  width: 75px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 5s linear infinite;
}
ul.menu li:nth-child(4) {
  position: relative;
}
ul.menu li:nth-child(4)::before {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/flower.png");
  position: absolute;
  left: -30vw;
  top: -3vw;
  width: 106px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 5s linear infinite;
}
@media all and (max-width: 365px) {
  ul.menu li:nth-child(4)::before {
    width: 80px;
    top: 10vw;
  }
}
ul.menu li:nth-child(4)::after {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/grey-cat.png");
  position: absolute;
  right: -25vw;
  top: -3vw;
  width: 154px;
  height: 147px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 2s ease-in-out infinite;
}
@media all and (max-width: 700px) {
  ul.menu li:nth-child(4)::after {
    width: 80px;
    right: -35vw;
  }
}
ul.menu li.studio {
  margin-bottom: 35px;
}
ul.menu li.studio::before {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/orange-cat.png");
  position: absolute;
  left: -35vw;
  bottom: 3vw;
  width: 106px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 2s ease-in-out infinite;
}
@media all and (max-width: 365px) {
  ul.menu li.studio::before {
    left: -15vw;
    bottom: 15vw;
    width: 80px;
  }
}
ul.menu li.studio::after {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/Hibiscus.png");
  filter: blur(2px);
  position: absolute;
  left: 32vw;
  top: -10vw;
  width: 626px;
  height: 626px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 10s linear infinite;
}
@media all and (max-width: 365px) {
  ul.menu li.studio::after {
    left: 50vw;
    top: 30vw;
    width: 150px;
    height: 150px;
  }
}

.banner {
  position: relative;
  width: 100%;
  min-height: 40vw;
  height: auto;
  overflow: hidden;
  background-image: none !important;
}
@media all and (max-width: 700px) {
  .banner {
    height: 400px;
    min-height: 400px;
  }
}
@media all and (min-width: 2000px) {
  .banner {
    min-height: 0;
  }
}
.banner__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 1;
  animation: videoSlideDown 3s ease-out forwards;
}
@media all and (max-width: 700px) {
  .banner__container {
    background-image: url("/wp-content/themes/foce-child/assets/img/banner.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 0;
  }
}
@media all and (max-width: 365px) {
  .banner__container {
    background-position: left;
  }
}
.banner__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-100%);
  animation: videoSlideDown 1s ease-out forwards;
  transition: transform 0.6s ease-in-out;
}
@media all and (max-width: 700px) {
  .banner__video {
    display: none;
  }
}
.banner__logo-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  animation: logoMoveUp 3s ease-out forwards;
  transition: transform 0.3s ease;
}
@media (min-width: 320px) and (max-width: 700px) {
  .banner__logo-wrapper {
    width: 90%;
  }
}
.banner__logo-wrapper .banner__logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.banner__logo-wrapper .banner__logo.floating {
  animation: float 4s ease-in-out infinite;
}
@media all and (max-width: 700px) {
  .banner__logo-wrapper .banner__logo {
    max-width: 336px;
  }
}

section.banner {
  opacity: 0;
}
section.banner.is-visible {
  animation: fadeIn 5s ease-in-out forwards;
}

.banner__logo-parallax {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 2;
}

#story {
  opacity: 0;
  transform: translateY(20vh);
  overflow: hidden;
}

#story.active {
  opacity: 1;
  transform: translateY(0vh);
  transition: all 2s ease-in-out;
}

#characters {
  opacity: 0;
  transform: translateX(20vw);
}

#characters.active {
  opacity: 1;
  transform: translateX(0vw);
  transition: all 2s ease-in-out;
}

#place {
  opacity: 0;
  transform: translateX(-20vh);
}

#place.active {
  opacity: 1;
  transform: translateX(0vw);
  transition: all 2s ease-in-out;
}

#studio {
  opacity: 0;
  transform: TranslateY(20vh);
}

#studio.active {
  opacity: 1;
  transform: TranslateY(0vh);
  transition: all 2s ease-in-out;
}

#nomination {
  opacity: 0;
  transform: TranslateY(-20vh);
}

#nomination.active {
  opacity: 1;
  transform: TranslateY(0vh);
  transition: all 2s ease-in-out;
}

@media all and (max-width: 700px) {
  h2, h3 {
    font-size: 2rem;
  }
}

@media all and (max-width: 365px) {
  #characters h3 {
    line-height: 1.6rem;
    background-size: cover;
    margin: auto;
  }
}

section h2 {
  text-align: center;
  display: block;
}
section h2 span.fade-word {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
section h2.active span.fade-word {
  opacity: 1;
  transform: translateY(0);
}

.story__article::after, .title-container h2::after {
  animation: rotation 5s linear infinite;
}

#studio {
  overflow: hidden;
}
#studio > h2::before {
  animation: rotation 20s linear infinite;
}
#studio > h2::after {
  animation: rotation 10s linear infinite;
}

@media (max-width: 700px) {
  .site-footer {
    justify-content: flex-start;
    padding-top: 8em;
  }
}
.site-footer::before, .site-footer::after {
  display: none;
}
.site-footer ul::after {
  animation: rotation 30s linear infinite;
}
.site-footer ul {
  margin-top: 126px;
}

@media all and (max-width: 700px) {
  .story__article {
    padding-bottom: 0;
  }
  .story__article p {
    margin-bottom: 0;
  }
}
section#story {
  overflow: hidden;
}

.story #characters {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 6em 0 6em 0;
  padding-left: 5em;
}
@media all and (max-width: 365px) {
  .story #characters {
    padding-left: 0;
  }
}

.story #place {
  position: relative;
  display: flex;
  background-image: url(/wp-content/themes/foce-child/assets/img/Studio_Koukaki-image_place.png);
  width: 100%;
  min-height: 699px;
  background-size: cover;
}
.story #place .cloud {
  position: absolute;
  transition: transform 0.1s ease-out;
}
.story #place .cloud.big-cloud {
  height: 100px;
  width: 300px;
  top: 15%;
  left: 100%;
  background-image: url(/wp-content/themes/foce-child/assets/img/big_cloud.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(10px);
}
.story #place .cloud.little-cloud {
  height: 100px;
  width: 150px;
  top: 30%;
  right: 5%;
  background-image: url(/wp-content/themes/foce-child/assets/img/little_cloud.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(12px);
}

.nomination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 252px;
  overflow: hidden;
}
.nomination::before {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 8em;
  width: 216px;
  height: 216px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 10s linear infinite;
}
@media (max-width: 1192px) {
  .nomination::before {
    top: 3em;
  }
}
@media (max-width: 700px) {
  .nomination::before {
    left: 0;
    top: 5em;
    width: 170px;
    height: 170px;
  }
}
.nomination::after {
  content: "";
  background-image: url("/wp-content/themes/foce-child/assets/img/orchid.png");
  position: absolute;
  right: -5em;
  top: 0em;
  width: 173px;
  height: 169px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 15s linear infinite;
}
@media (max-width: 700px) {
  .nomination::after {
    right: -5em;
    width: 143px;
    height: 139px;
  }
}
.nomination__text {
  position: relative;
  width: 643px;
  font-family: Quicksand, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 52.5px;
  letter-spacing: -1px;
  color: #FFF5E9;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}
@media (max-width: 920px) {
  .nomination__text {
    margin: 0 40px 0 40px;
  }
}
.nomination__text::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #FF5C00;
  filter: blur(20px);
  z-index: -1;
  border-radius: 100px 50px 200px 150px;
  transform: scaleX(1.05);
  transform-origin: right;
}
@media (max-width: 920px) {
  .nomination__text::before {
    height: 70%;
    border-radius: 100px 50px 450px 50px;
  }
}
@media (max-width: 700px) {
  .nomination__text::before {
    height: 77%;
    border-radius: 50px 50px 150px 50px;
  }
}
@media (max-width: 365px) {
  .nomination__text::before .nomination__text::before {
    height: 87%;
    border-radius: 20px 50px 150px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
